body{
background:black;
color:#00ff00;
font-family:monospace;
text-align:center;
padding:50px;
}

a{
color:#00ff00;
text-decoration:none;
margin:10px;
}

input, button{
background:black;
color:#00ff00;
border:1px solid #00ff00;
padding:6px;
margin:5px;
cursor:pointer;
}
