
body{
background:#000;
color:#00ff88;
font-family:monospace;
text-align:center;
padding:30px;
transition:0.3s;
}

h1{margin-bottom:20px;text-shadow:0 0 10px #00ff88;}

#terminal{
max-width:800px;
margin:20px auto;
border:1px solid #00ff88;
padding:20px;
min-height:250px;
text-align:left;
}

input,button{
background:#000;
color:#00ff88;
border:1px solid #00ff88;
padding:8px;
margin:5px;
}
